---
import { storyblokEditable, useStoryblokApi } from '@storyblok/astro'
import Card from '@/components/Card.astro'
import CardTitle from '@/components/CardTitle.astro'
import CardImage from '@/components/CardImage.astro'
import type { Navigation } from '@/types'
import CardMeta from '@/components/CardMeta.astro'
import { MapIcon } from 'lucide-react'

const storyblok = useStoryblokApi()
const { data } = await storyblok.get('cdn/stories', {
  version: import.meta.env.DEV ? 'draft' : 'published',
  content_type: 'navigation'
})

const navigations: Navigation[] = data.stories.map((story: any) => ({
  name: story.content.name,
  slug: story.full_slug,
  price: story.content.price || 'Contact for price information',
  capacity: `${story.content.capacity} people`,
  type: story.content.type,
  cover: story.content.cover
}))

const { blok } = Astro.props
---

<ul
  class="mt-10 grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] gap-6"
  {...storyblokEditable(blok)}
>
  {
    navigations.map(item => (
      <a href={`/${item.slug}`}>
        <Card>
          <CardImage slot="image" src={item.cover.filename} alt={item.name} />
          <CardTitle slot="title">{item.name}</CardTitle>
          <Fragment slot="meta">
            <CardMeta>
              <MapIcon slot="icon" size={16} />
              View navigation
            </CardMeta>
          </Fragment>
        </Card>
      </a>
    ))
  }
</ul>
