---
import type { Marina } from '@/types'
import { BanknoteIcon, UsersIcon, ImageIcon } from 'lucide-react'
import Tag from './Tag.astro'
import ItemMeta from './ItemMeta.astro'

type Props = Marina

const { name, capacity, price, cover, type, slug } = Astro.props
---

<div class="rounded-lg border p-4 shadow dark:border-gray-800">
  <img src={cover.filename} alt={name} class="object-cover" />
  <div class="mt-2 flex items-center gap-2">
    <h3 class="font-cinzel text-lg">
      {name}
    </h3>
    <Tag>{type}</Tag>
  </div>
  <div class="mt-1">
    <ItemMeta>
      <UsersIcon slot="icon" size={16} />
      <p slot="text">{capacity}</p>
    </ItemMeta>
    <ItemMeta>
      <BanknoteIcon slot="icon" size={16} />
      <p slot="text">{price}</p>
    </ItemMeta>
    <ItemMeta>
      <ImageIcon slot="icon" size={16} />
      <a slot="text" href={`/${slug}`}>View gallery</a>
    </ItemMeta>
  </div>
</div>
